* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --background-color: #ffffff;
    --main-color: #00a64b;
    --main-color-light: rgba(0, 166, 75, 0.1);
    --second-main-color: #353535cc;
    --point-color: #184313;
    --text-color-black: #000000;
    --text-color-white: #ffffff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color-black);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 24px 14%;
    transition: .3s;
}

.logo {
    color: var(--text-color-black);
    font-size: 1.8rem;
    font-weight: 600;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color-black);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    background: var(--main-color);
    color: var(--text-color-white);
    transition: .3s;
}

#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 14%;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h5 {
    color: var(--text-color-black);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color-black);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px
}

.home-text h6 {
    color: var(--text-color-black);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;

}

.home-text p {
    max-width: 479px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--second-main-color);
}

.btn {
    background: var(--main-color);
    color: var(--text-color-white);
    box-shadow: 4px 4px var(--second-main-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}

.btn:hover {
    background-color: var(--point-color);
    color: var(--text-color-white);
    box-shadow: 4px 4px var(--second-main-color);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.about-text {
    background: var(--main-color-light);
    border-radius: 5px;
    padding: 40px 60px;
}

.about-text h3 {
    color: var(--text-color-black);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0 0 20px;
}

.about-text h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: var(--h2-font);
    line-height: 1.2;
    max-width: 470px;
    margin-bottom: 2rem;
}

.about-text p {
    max-width: 570px;
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    color: var(--second-main-color);
}

.main-btn .btn{
    margin-right: 20px;
    margin-top: 1rem;
}

.center {
    text-align: center;
}

.center h3 {
    color: var(--text-color-black);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
}

.skills .center h3 {
    padding-bottom: 2rem;
}

.skills-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
    padding-bottom: 5rem;
}

.skills-data {
    padding-bottom: 2rem;
}

.skills-title {
    display: flex;
    justify-content: space-between;
}

.skills-statusbar,
.skills-percentage {
    height: 8px;
    border-radius: .25rem;
}

.skills-statusbar {
    background: var(--main-color-light);
}

.skills-percentage {
    display: block;
    background: var(--main-color);
}

.skills-html {
    width: 90%;
}

.skills-css{
    width: 90%;
}

.skills-js {
    width: 75%;
}

.skills-java {
    width: 85%;
}

.skills-python {
    width: 70%;
}

.skills-c {
    width: 60%;
}

.skills-ps {
    width: 90%;
}

.skills-ill {
    width: 85%;
}

.pgrid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-self: center;
    margin-top: 4.4rem;
    position: relative;
}

.row {
    align-items: center;
    background: var(--main-color-light);
    padding: 60px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
    width: 440px;
    height: 340px;
    position: relative;
}

.web1 {
    background-image: url(img/web1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.checklist {
    background-image: url(img/checklist.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.todo {
    background-image: url(img/todo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loginpage {
    background-image: url(img/loginpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.analogclock {
    background-image: url(img/analogclock.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row i {
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 20px;
}

.row h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--text-color-black);
}

.row:hover {
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px0px rgba(0, 0, 0, 0.7);
}

.row:hover .description {
    height: 100%;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.description-text h3 {
    color: var(--text-color-white);
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 5%;
}

.description-text p {
    font-size: var(--p-font);
    font-weight: 300;
    color: var(--text-color-white);
    line-height: 20px;
    position: relative;
    text-align: left;
    top: 60%;
    left: 5%;
}

.description-text a {
    font-size: var(--p-font);
    font-weight: 300;
    color: var(--text-color-white);
    text-decoration: none;
    position: relative;
    top: 70%;
    left: 5%;
}

.description-text a:hover {
    color: var(--main-color);
}

.cta {
    background: var(--main-color-light);
    width: 100%;
    padding: 130px 0;
    text-align: center;
    margin: 100px auto;
}

.cta h4 {
    color: var(--text-color-black);
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.cta h2 {
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form {
    position: relative;
    width: 550px;
}

form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: var(--main-color-light);
    color: var(--text-color-black);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

form input::placeholder,
form textarea::placeholder{
    color: var(--second-main-color);
}

textarea {
    resize: none;
    height: 200px;
}

form .send-btn {
    background: var(--main-color);
    color: var(--text-color-white);
    box-shadow: 4px 4px var(--second-main-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    cursor: pointer;
}

form .send-btn:hover {
    background-color: var(--point-color);
    color: var(--text-color-white);
    box-shadow: 4px 4px var(--second-main-color);
}

.copyright {
    text-align: center;
    padding: 30px;
    color: var(--main-color);
    background: #f6fefa;
    margin-top: 1rem;
    line-height: 1.5rem;
}

@media (max-width: 1430px) {
    header {
        padding: 25px 3%;
    }
    section {
        padding: 50px 3%;
    }
    :root {
        --big-font: 4rem;
        --h2-font: 1.2rem;
    }
}

@media (max-width: 1020px) {
    :root {
        --big-font: 3rem;
        --h2-font: 1.2rem;
        --p-font: 0.9rem;
    }
    .home {
        height: 70vh;
    }
}

@media (max-width: 830px) {
    header{
        padding: 18px 3%;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--text-color-white);
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.7);
        text-align: left;
        transition: 0.2s ease;
    }
    .navbar a {
        display: block;
        padding: 1rem;
        border-left: 2px solid var(--point-color);
        margin: 1rem;
        display: block;
    }

    .navbar a:hover {
        background: var(--main-color-light);
        color: var(--text-color-black);
    }

    .navbar.active {
        top: 100%;
    }

    .qualification [data-content]{
        display: none;
    }
    .qualification-active[data-content]{
        
        display: block;
        align-items: center;
    }
    .portfolio-content {
        grid-template-columns: repeat(1, 1fr);
        align-self: center;
        padding-left: 20%;
        position: relative;
    }
}

@media (max-width: 795px) {
    .home {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
        margin-top: 80px;
        height: 100vh;
    }
    .home-text p {
        max-width: 100%;
    }
    .home-img img {
        max-width: 100%;
        width: 380px;
        height: auto;
    }
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-text h2 {
        max-width: 100%;
    }
    .about-hext p {
        max-width: 100%;
    }
    .about-img img {
        display: none;
    }
    .skills-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .skills .center h3{
        padding-bottom: 0;
    }
    .skills-img img{
        max-width: 100%;
        width: 380px;
        height: auto;
        padding-bottom: 0;
    }
    .qualification [data-content]{
        display: none;
    }
    .qualification-active[data-content]{
        
        display: block;
        align-items: center;
    }
    
}

.qualification-tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.qualification-button {
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
}

.qualification-button:hover {
    color: var(--main-color);
}

.qualification-icon {
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

.qualification-sections {
    display: flex;
    justify-content: space-evenly;
    column-gap: 5rem;
}

.qualification-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem
}


.qualification-title {
    color: var(--text-color-black);
    background: var(--main-color-light);
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
}

.qualification-subtitle {
    display: inline-block;
    color: var(--second-main-color);
    font-size: 15px;
    margin-bottom: 1rem;
}

.qualification-calendar {
    font-size: 13px;
    color: var(--second-main-color);
    display: flex;
}

.qualification-calendar i {
    padding-right: 10px;
}

.qualification-rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: var(--main-color);
    border-radius: 50%;
}

.qualification-line {
    display: block;
    width: 2px;
    height: 100%;
    background: var(--main-color);
    transform: translate(6px, -7px);
}